@model CIS229C_II_Project.Models.Service

@{
    ViewBag.Title = "DeleteView";
}

<h2>DeleteView</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Service</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.service_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service_price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
