@model List<CIS229C_II_Project.Models.Customer>
@{
    ViewBag.Title = "Delete Customer";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<div style="width: 500px; margin: 0 auto; border: 1px solid; margin: auto; padding: 15px">
    <h1 style="text-align:center"> Delete Customer </h1>

    <form method="post" action="@Url.Action("DeleteCustomer","Customer")">

        <div class="mb-3">
            <label for="Customer Name" class="form-label"> Customer Name </label>
            <select name="CustomerID" required>
                <option value disabled selected></option>
                @foreach (var customer in Model)
                {
                    <option value="@customer.ID"> @customer.FirstName @customer.LastName </option>
                }
            </select>
        </div>

        <div>
            <button type="submit" class="btn btn-primary" style="width:100%"> Submit </button>
        </div>

        <div>@ViewBag.Message</div>
    </form>

</div>
